.DS_Store
.env
env.example
uv.lock
__pycache__/
*.pyc
*.pyo
*.log
data/
src/batch/
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.zip
*.tar
*.tar.gz
*.egg-info/
# 한글 깨진 파일
\354\247\210\353\254\270\352\261\260\353\246\254\353\223\244.md

.Python
env/
venv/
build/
dist/
.uv/ 